.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
